Repository codesquad-members-2023/issue-tracker, pull requests merged in 2023-06, with the labels that each got.

#78 [team-05] iOS Filter 및 Search 기능 구현
  iOS/issue-tracker/.swiftlint.yml
  iOS/issue-tracker/issue-tracker.xcodeproj/project.pbxproj
  iOS/issue-tracker/issue-tracker.xcodeproj/xcshareddata/xcschemes/issue-tracker.xcscheme
  iOS/issue-tracker/issue-tracker/DiffableDataSourceManager.swift
  iOS/issue-tracker/issue-tracker/DummyData.swift
  iOS/issue-tracker/issue-tracker/HTTPHandler.swift
  iOS/issue-tracker/issue-tracker/IssueFilter/FilteringModel.swift
  iOS/issue-tracker/issue-tracker/IssueFilter/IssueFilterCell.swift
  iOS/issue-tracker/issue-tracker/IssueFilter/IssueFilterViewController.swift
  iOS/issue-tracker/issue-tracker/IssueFilter/IsuueFilterData.swift
  iOS/issue-tracker/issue-tracker/IssueList/IssueListHeaderView.swift
  iOS/issue-tracker/issue-tracker/IssueList/IssueListSectionData.swift
  iOS/issue-tracker/issue-tracker/IssueList/IssueViewController.swift
  iOS/issue-tracker/issue-tracker/TabBar/TabBarViewController.swift
Labels: review-ios

#70 [team-02] BE OAuth 인증 구현, CI/CD
  .github/workflows/serverDeploy.yml
  README.md
  appspec.yml
  be/build.gradle
  be/src/main/java/com/issuetracker/configuration/CorsConfigurer.java
  be/src/main/java/com/issuetracker/controller/IssueController.java
  be/src/main/java/com/issuetracker/controller/IssueListController.java
  be/src/main/java/com/issuetracker/controller/LabelController.java
  be/src/main/java/com/issuetracker/controller/LoginController.java
  be/src/main/java/com/issuetracker/domain/Assignee.java
  be/src/main/java/com/issuetracker/domain/Comment.java
  be/src/main/java/com/issuetracker/domain/Issue.java
  be/src/main/java/com/issuetracker/domain/IssueLabel.java
  be/src/main/java/com/issuetracker/domain/Label.java
  be/src/main/java/com/issuetracker/domain/Milestone.java
  be/src/main/java/com/issuetracker/domain/User.java
  be/src/main/java/com/issuetracker/dto/comment/CommentPostDto.java
  be/src/main/java/com/issuetracker/dto/issue/AssigneeDto.java
  be/src/main/java/com/issuetracker/dto/issue/IssueCommentDto.java
  be/src/main/java/com/issuetracker/dto/issue/IssueDetailPageDto.java
  be/src/main/java/com/issuetracker/dto/issue/IssueMilestone.java
  be/src/main/java/com/issuetracker/dto/issue/UserDto.java
  be/src/main/java/com/issuetracker/dto/issueList/Filter.java
  be/src/main/java/com/issuetracker/dto/issueList/FilterMilestoneProgressDto.java
  be/src/main/java/com/issuetracker/dto/issueList/IssueFormDto.java
  be/src/main/java/com/issuetracker/dto/issueList/IssueListDto.java
  be/src/main/java/com/issuetracker/dto/label/LabelListDto.java
  be/src/main/java/com/issuetracker/dto/milestone/MilestoneDto.java
  be/src/main/java/com/issuetracker/dto/milestone/MilestonePageDto.java
  be/src/main/java/com/issuetracker/mapper/FilterListMapper.java
  be/src/main/java/com/issuetracker/mapper/IssueIdListMapper.java
  be/src/main/java/com/issuetracker/mapper/IssueListMapper.java
  be/src/main/java/com/issuetracker/mapper/JacksonLocalDateTimeConfig.java
  be/src/main/java/com/issuetracker/mapper/LabelToDtoMapper.java
  be/src/main/java/com/issuetracker/repository/CommentRepository.java
  be/src/main/java/com/issuetracker/repository/IssueListRepository.java
  be/src/main/java/com/issuetracker/repository/IssueRepository.java
  be/src/main/java/com/issuetracker/repository/LabelRepository.java
  be/src/main/java/com/issuetracker/repository/MilestoneRepository.java
  be/src/main/java/com/issuetracker/repository/UserRepository.java
  be/src/main/java/com/issuetracker/service/CommentService.java
  be/src/main/java/com/issuetracker/service/IssueListService.java
  be/src/main/java/com/issuetracker/service/IssueService.java
  be/src/main/java/com/issuetracker/service/LabelService.java
  be/src/main/java/com/issuetracker/service/MilestoneService.java
  be/src/main/resources/application.yaml
  be/src/main/resources/com/issuetracker/mapper/IssueIdListMapper.xml
  be/src/main/resources/com/issuetracker/mapper/IssueListMapper.xml
  deploy.sh
  settings.gradle
Labels: review-be

#69 [Team-03] BE 4주차 리뷰 PR
  .gitignore
  .idea/.gitignore
  be/build.gradle
  be/src/main/java/com/example/be/comment/Comment.java
  be/src/main/java/com/example/be/comment/CommentController.java
  be/src/main/java/com/example/be/comment/CommentRepository.java
  be/src/main/java/com/example/be/comment/CommentService.java
  be/src/main/java/com/example/be/comment/mapper/CommentEntityRowMapper.java
  be/src/main/java/com/example/be/configuration/S3Config.java
  be/src/main/java/com/example/be/configuration/WebConfig.java
  be/src/main/java/com/example/be/image/ImageController.java
  be/src/main/java/com/example/be/image/S3UploaderService.java
  be/src/main/java/com/example/be/issue/IssueController.java
  be/src/main/java/com/example/be/issue/IssueRepository.java
  be/src/main/java/com/example/be/issue/IssueRepositoryCustom.java
  be/src/main/java/com/example/be/issue/IssueRepositoryImpl.java
  be/src/main/java/com/example/be/issue/IssueService.java
  be/src/main/java/com/example/be/issue/dto/AllEntitiesDTO.java
  be/src/main/java/com/example/be/issue/dto/AllLabelsAndMilestonesAndUsersDTO.java
  be/src/main/java/com/example/be/issue/dto/IssueCreateFormDTO.java
  be/src/main/java/com/example/be/issue/dto/IssueDetailedDTO.java
  be/src/main/java/com/example/be/issue/dto/IssueUpdateFormDTO.java
  be/src/main/java/com/example/be/issue/mapper/IssueEntityRowMapper.java
  be/src/main/java/com/example/be/label/LabelController.java
  be/src/main/java/com/example/be/milestone/MilestoneController.java
  be/src/main/java/com/example/be/milestone/MilestoneService.java
  be/src/main/resources/com/example/be/issue/mapper/IssueMapper.xml
  be/src/test/java/com/example/be/issue/IssueRepositoryTest.java
  be/src/test/java/com/example/be/milestone/MilestoneRepositoryTest.java
Labels: review-be

#82 [team-03] iOS 4주차 이슈 추가 POST요청 & 레이블탭 구현
  iOS/issue-tracker/issue-tracker.xcodeproj/project.pbxproj
  iOS/issue-tracker/issue-tracker/Home/HomeStoryboard.storyboard
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/AddIssueViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/AddtionalInfoTableViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueFilterTableViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Controllers/IssueTabViewController.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/AdditionalInformation.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/FilterOption.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/FilterOptionFactory.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/FilterOptionListMock.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/IssueFrame.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/IssueFrameHolder.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/Label.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/Milestone.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Models/PostIssueFormat.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/AddIssueTableViewCell.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/AddIssueTableViewCell.xib
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/BadgeLabel.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueCollectionView.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueCollectionViewCell.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueFilterTableViewCell.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/IssueSelectingToolbar.swift
  iOS/issue-tracker/issue-tracker/Home/Issue/Views/SubIconView.swift
  iOS/issue-tracker/issue-tracker/Home/Label/LabelMock.swift
  iOS/issue-tracker/issue-tracker/Home/Label/LabelTabCollectionView.swift
  iOS/issue-tracker/issue-tracker/Home/Label/LabelTabCollectionViewCell.swift
  iOS/issue-tracker/issue-tracker/Home/Label/LabelTabCollectionViewHeaderCell.swift
  iOS/issue-tracker/issue-tracker/Home/Label/LabelTabViewController.swift
  iOS/issue-tracker/issue-tracker/Networking/HTTPDataFetcher.swift
  iOS/issue-tracker/issue-tracker/Networking/IssueDataDecoder.swift
  iOS/issue-tracker/issue-tracker/Networking/IssueDataEncoder.swift
  iOS/issue-tracker/issue-tracker/Networking/NetworkManager.swift
  iOS/issue-tracker/issue-tracker/Networking/Server.swift
  iOS/issue-tracker/issue-tracker/Networking/URLRequestFactory.swift
Labels: review-ios

#75 [team-02] FE 4주차 PR
  fe/package.json
  fe/public/favicon.ico
  fe/public/index.html
  fe/src/App.tsx
  fe/src/api.ts
  fe/src/assets/checkOffCircle.svg
  fe/src/assets/checkOnCircle.svg
  fe/src/assets/grip.svg
  fe/src/common/Button/index.tsx
  fe/src/common/FilterItem/FilterItem.tsx
  fe/src/common/Label/index.tsx
  fe/src/common/Profile/index.tsx
  fe/src/components/FilterBar/FilterBar.stories.ts
  fe/src/components/FilterBar/FilterBar.tsx
  fe/src/components/FilterList/FilterList.tsx
  fe/src/components/IssueCommentInput/IssueCommentInput.tsx
  fe/src/components/IssueCommentItem/IssueCommentItem.tsx
  fe/src/components/IssueCommentList/IssueCommentList.tsx
  fe/src/components/IssueController/IssueController.tsx
  fe/src/components/IssueMainInfo/IssueMainInfo.tsx
  fe/src/components/IssueSubInfo/IssueSubInfo.tsx
  fe/src/components/IssueTable/Issue.stories.ts
  fe/src/components/IssueTable/Issue.tsx
  fe/src/components/IssueTable/IssueTable.stories.ts
  fe/src/components/IssueTable/IssueTable.tsx
  fe/src/components/LabelTable/LabelItem.tsx
  fe/src/components/LabelTable/LabelTable.tsx
  fe/src/components/MilestoneProgressBar/MilestoneProgressBar.tsx
  fe/src/components/MilestoneTable/MilestoneItem.tsx
  fe/src/components/MilestoneTable/MilestoneTable.tsx
  fe/src/components/NavLinks/NavLinks.tsx
  fe/src/components/NewIssue/NewIssue.stories.ts
  fe/src/components/NewIssue/NewIssueInput.stories.ts
  fe/src/components/NewIssue/NewIssueInput.tsx
  fe/src/components/NewIssue/NewIssueMain.stories.ts
  fe/src/components/NewIssue/NewIssueMain.tsx
  fe/src/components/NewIssue/NewIssueNav.stories.ts
  fe/src/components/NewIssue/NewIssueNav.tsx
  fe/src/components/NewIssue/NewIssueOptions.stories.ts
  fe/src/components/NewIssue/NewIssueOptions.tsx
  fe/src/components/PageNation.stories.ts
  fe/src/components/PageNation.tsx
  fe/src/constants/Constants.ts
  fe/src/customTypes/IssueDetailPage.ts
  fe/src/hooks/useOutsideClick.ts
  fe/src/pages/Auth.tsx
  fe/src/pages/ErrorPage.tsx
  fe/src/pages/IssueDetailPage.tsx
  fe/src/pages/LabelPage.tsx
  fe/src/pages/LoginPage.tsx
  fe/src/pages/MainPage.tsx
  fe/src/pages/MilestonePage.tsx
  fe/src/pages/NewIssue.tsx
  fe/src/pages/RootPage.tsx
  fe/src/utils/fetchSetData.ts
  fe/src/utils/getRandomHexColor.ts
  fe/tailwind.config.js
  fe/tsconfig.json
  fe/tsconfig.paths.json
Labels: review-fe

#83 [team-04] 네트워크 요청에 대한 응답 흐름을 구현하였습니다
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/Debug.xcconfig
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker/Data/DTO/IssueDTO.swift
  iOS/IssueTracker/IssueTracker/Data/DTO/LabelDTO.swift
  iOS/IssueTracker/IssueTracker/Data/DTO/MilestoneDTO.swift
  iOS/IssueTracker/IssueTracker/Data/DTO/UserDTO.swift
  iOS/IssueTracker/IssueTracker/Data/Protocol/IssueRepository.swift
  iOS/IssueTracker/IssueTracker/Data/Repository/IssueRepositoryError.swift
  iOS/IssueTracker/IssueTracker/Domain/Protocol/DomainConvertible.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Issue/Entity/Issue.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Issue/Entity/IssueCollection.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Issue/IssueUseCaseError.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Issue/IssueUseCaseImpl.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Issue/Protocol/IssueListUseCaseType.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Issue/Protocol/IssueUseCase.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Label/Entity/Label.swift
  iOS/IssueTracker/IssueTracker/Domain/UseCase/Milestone/Entity/Milestone.swift
  iOS/IssueTracker/IssueTracker/Global/Literal/StringLiteral.swift
  iOS/IssueTracker/IssueTracker/Global/Util/Factory/IssueListViewControllerFactory.swift
  iOS/IssueTracker/IssueTracker/Global/Util/Factory/Protocol/ViewControllerMakable.swift
  iOS/IssueTracker/IssueTracker/Network/Common/EndPoint.swift
  iOS/IssueTracker/IssueTracker/Network/Common/HTTPResponseError.swift
  iOS/IssueTracker/IssueTracker/Network/Common/HTTPResponseStatus.swift
  iOS/IssueTracker/IssueTracker/Network/Common/NetworkRequest.swift
  iOS/IssueTracker/IssueTracker/Network/Common/NetworkService.swift
  iOS/IssueTracker/IssueTracker/Network/Common/NetworkServiceError.swift
  iOS/IssueTracker/IssueTracker/Network/Issue/IssueRepositoryImpl.swift
  iOS/IssueTracker/IssueTracker/Network/Protocol/NetworkRequestable.swift
  iOS/IssueTracker/IssueTracker/Presentation/Issue/Protocol/IssueListViewModelable.swift
  iOS/IssueTracker/IssueTracker/Presentation/Issue/View/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Presentation/Issue/View/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Presentation/Issue/View/IssueListView.swift
  iOS/IssueTracker/IssueTracker/Presentation/Issue/ViewController/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Presentation/Issue/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/Resource/Info.plist
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerViewModelTests/Issue/Mock/MockIssueListUseCase.swift
Labels: review-ios
